.searchbox{ position: relative;}
.searchbox input{ padding: 7px 50px 7px 10px; width: 100%; color: #49525c; font-size: 14px; line-height: 17px; background-color: #e1eaf2; border: 1px solid #045bb2; border-radius: 4px; box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1); outline: 0; box-sizing: border-box;}
.searchbox button{ position: absolute; top: 0; right: 0; width: 40px; height: 100%; background: #0e78e7; background: -webkit-linear-gradient(top,#0e7bef,#0d73da); background: linear-gradient(to bottom,#0e7bef,#0d73da); border: 1px solid #045bb2; border-top-right-radius: 4px; border-bottom-right-radius: 4px; box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15); box-sizing: border-box; outline: 0; cursor: pointer;}
.searchbox button i{ background: transparent url("../images/littleicon2.png") no-repeat; }
.searchbox button .search_icon{ background-position: -82px 0; width: 15px; height: 15px; position:absolute; top: 8px; left: 10px;}

.applycountryside{ width: 173px; height: 43px; cursor: pointer; background: url("../images/index/applyxiaxiang.png"); }
.applycountryside:hover{ background: url("../images/index/applyxiaxiang_s.png"); }

.countrysidelist{ width:630px;}
.countrysidelist ul li#fiest .pic{  float:left; display:block; overflow:hidden;}
.countrysidelist li .news_modle1_title,.news_modle2 ul li p,.news_modle2 ul li#fiest .time{ float:left; display:block; width:196px; margin-left:10px;overflow:hidden; height:16px;}
.countrysidelist li a{ font-size:18px; color:#333; text-decoration:none; line-height:2em;}
.countrysidelist li p{ font-size: 12px; color: #999; line-height: 1.4em;}
.countrysidelist ul li a b{ color:#eb302f;text-transform:uppercase;}
.countrysidelist ul li{ width:620px;float:left; padding :10px 0 ; border-bottom: dashed #D5D5D5 1px;}

#provincecity label { width: 20px; height: 30px; line-height: 30px; text-align: right; float: left; font-weight: bold; color: #666; margin: 12px 10px 0 0;}

#tpersonlist thead th { background-color: rgb(81, 130, 187); color: #fff; border-bottom-width: 0; text-align: center;}
#tpersonlist td { color: #000; position: relative;}
#tpersonlist tr, #tpersonlist th { border: 1px solid rgb(81, 130, 187);}
#tpersonlist td, #tpersonlist th { padding: 5px 8px; font-size: 12px; font-family: Verdana; font-weight: bold;}

.del_btn{ width: 18px; display: block; position: absolute; right: -13px; top: -2px; cursor: pointer; padding: 3px 0; text-align: center; border-radius: 4px;  line-height: 25px; font-size: 18px; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;}
i.del_icon { width: 18px;height: 18px; background-image: url(../images/littleicon.png); background-repeat: no-repeat; background-position: -145px -201px; position: absolute; left: 0px;}
