<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>农技推广综合管理平台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=9" >
	<link rel="shortcut icon" href="./styles/images/ico.ico" type="image/x-icon" />
	<link href="./styles/index/themepark.css" rel="stylesheet" media="screen">
	<link href="./styles/index/default.css" rel="stylesheet" media="screen">
	<link href="./styles/index/embed.default.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="./scripts/index/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="./scripts/index/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="./scripts/index/jquery.lazyload.js"></script>
  <script type="text/javascript" src="./scripts/index/pngtm.js"></script> 
  <script type="text/javascript" src="./scripts/index/lrscroll.js"></script> 
  <script type="text/javascript" src="./scripts/index/embed.js"></script> 
</head>
<body class="page page-id-2 page-parent page-template page-template-aboutus page-template-aboutus-php">

<div id="wpthemedemobar" style="position:fixed!important;_position:absolute; _top:expression(eval(document.documentElement.scrollTop+0)); top:0px; z-index:99999;">
<div class="wpthemedemobar_wrapper">
<div class="wptdb_right">
<a id="btnlogin" href="login.html">立即登录</a>
<a id="btnregister" href="register.html">注册用户</a>
<a id="btnlogout" href="#">退出</a>
</div>
<div class="wptdb_current">当前登录用户：<span class="wptdb_themename">超级门户</span></div></div>
</div>

   <!-- start:头部导航 -->
   <div id="header">
            <div id="header_in">
                <img src="./styles/images/logo.png"/>
            </div>
            <div id="nav">
            <a class="home_url"></a>
            <div class="menu-dai_you_she_qu_de_dao_hang_cai_dan-container">
            <ul id="menu-dai_you_she_qu_de_dao_hang_cai_dan" class="menu_nav">
            		<li id="menu-item-253" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-253"><a href="./index.html">首页</a><div class="hover"></div></li>
				<li id="menu-item-254" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-254 current-menu-item"><a href="./articlelist.html">最新新闻</a> <div class="hover" style="display: none;"></div></li>
				<li id="menu-item-260" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-260"><a href="./informationlist.html">通知公告</a><div class="hover" style="display: none;"></div></li>
				<li id="menu-item-261" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-261"><a href="./questionlist.html">在线交流</a><div class="hover" style="display: none;"></div></li>
				<li id="menu-item-262" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-262"><a href="./">视频会议</a><div class="hover" style="display: none;"></div></li>
				<li id="menu-item-263" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-263"><a href="./">农业物联网</a><div class="hover" style="display: none;"></div></li>
				<li id="menu-item-264" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-264"><a href="./personalcenter.html">个人中心</a><div class="hover" style="display: none;"></div></li>
		</ul>
	</div>            
   </div>
<script>
$('#nav .menu_nav li').not(".sub-menu li").append('<div class="hover"><\/div>');
$('#nav .menu_nav li .sub-menu li').children("ul").addClass("block")
$('#nav .menu_nav li').hover(
function() {
$(this).children(".sub-menu").not(".block").stop(true, true).fadeIn('200');},
function() {
$(this).children(".sub-menu").not(".block").stop(true, true).fadeOut('1000');
	}
)
$('#nav .menu_nav li').not(".current-menu-item,.current-menu-ancestor,.current-category-ancestor").hover(
function() {
$(this).children('.hover').stop(true, true).fadeIn('200');
},
function() {
$(this).children('.hover').stop(true, true).fadeOut('1000');
});            
</script>
		</div>
  <!-- end:头部导航-->

<!--head:所在位置-->
<div id="page_muen_nav">  <b>您现在所在的位置：</b><a href="index.html">首页</a> <a> &gt; </a><a href="./articlelist.html"> 最新新闻</a><a> &gt; </a><a href="#"> 新农村发展研究院</a></div>
<!--end:所在位置-->

<!--head:内容项目-->
<div id="content">

<!--head:左侧内容-->
<div class="left_mian"> 
<!--head:最新新闻-->
<div class="widget news_modle1">
   <div class="widge_hd">
   <span>
     <b>最新新闻</b><p>News</p>
   </span>
   <a href="./">MORE</a>
   </div>
<ul>
<li><a href="./">华农与榄核镇签订合作框架协议</a>
<span class="time">1200</span>
</li>
<li><a href="./">从8000元到市值2000亿</a>
<span class="time">232</span>
</li>
<li><a href="./">2016高校科技成果转化排名</a>
<span class="time">21</span>
</li>
<li><a href="./">香云纱研发成果</a>
<span class="time">332</span>
</li>
<li><a href="./">香云纱研发中心和体验馆</a>
<span class="time">3234</span>
</li>
<li><a href="./">非物质文化遗产香云纱的文化价值</a>
<span class="time">828</span>
</li>
</ul>
</div>
<!--end:最新新闻-->

<!--head:农情图片展示-->
<div class="widget case1">
   <div class="widge_hd">
   <span>
       <b>农情图片展示</b><p>Picture column</p>
   </span>
  <a href="./">MORE</a>
   </div>
<div id="case1" class="caseleft" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 1000px;">
<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 3000px; left: -1750px;">

<li style="overflow: hidden; float: left; width: 230px; height: 150px;"><a href="./">
<img src="./upload/p1.png">
</a></li>

<li style="overflow: hidden; float: left; width: 230px; height: 150px;"><a href="./">
<img src="./upload/p2.png">
</a></li>
<li style="overflow: hidden; float: left; width: 230px; height: 150px;"><a href="./">
<img src="./upload/p3.png">
</a></li>

<li style="overflow: hidden; float: left; width: 230px; height: 150px;"><a href="./">
<img src="./upload/p4.png">
</a></li>

</ul>
  <div class="loop_big_caj_nav">
<a class="prve"> &lt; 上一页</a>
<a class="next"> 下一页 &gt; </a>

</div>
</div>
<script>
$(function() {
$("#case1").jCarouselLite({
btnNext: "#case1 .next",
btnPrev: "#case1 .prve",
speed:1000,//滚动动画的时间
auto:3000,//滚动间隔时间
visible:4,
onMouse:true,
start:0,
easing: "easeOutCubic",
});
});
 </script> 
</div>
<!--end:农情图片展示-->

</div>
<!--end:左侧内容-->


<!--head:右侧内容-->
<div class="right_mian">
<!--head:文章正文-->
 <div class="enter"> 
 	<!--head:文章开头的图片集-->
		<div id="enter_xz" class="smaoll_xzs" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 600px;">
        		<ul id="gallery-1" class="gallery_xz" style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 4200px; left: -3000px;">
        			<li class="gallery-item" style="overflow: hidden; float: left; width: 600px; height: 400px;">
					<a><img src="./upload/p5.jpg"></a>
				</li>
        			<li class="gallery-item" style="overflow: hidden; float: left; width: 600px; height: 400px;">
					<a><img src="./upload/p6.jpg"></a>
				</li>
				<li class="gallery-item" style="overflow: hidden; float: left; width: 600px; height: 400px;">
					<a><img src="./upload/p7.jpg"></a>
				</li>
				<li class="gallery-item" style="overflow: hidden; float: left; width: 600px; height: 400px;">
					<a><img src="./upload/p8.jpg"></a>
				</li>
				<li class="gallery-item" style="overflow: hidden; float: left; width: 600px; height: 400px;">
					<a><img src="./upload/p9.jpg"></a>
				</li>
             </ul>
             <a class="next" style="right: -100px;"></a><a class="prve" style="left: -100px;"></a>
       </div>
	<!--end:文章开头的图片集-->
    <p>4月28日下午，我校与广州市南沙区榄核镇政府签订了战略合作框架协议，双方将致力于研究和挖掘非物质文化遗产香云纱的文化价值，将香云纱品牌打造成南沙新区的文化新名片。签订仪式在榄核镇羊晚星海艺术基地举行。</p>
    <p>根据合作框架协议，双方还将在人才培养、现代服装特色产业、大学生实习实训就业“双基地”、旅游、科技等五方面展开合作。</p>
    <p>据悉，我校在榄核镇跟进香云纱生产已有八年，并于2015年11月27日成立了香云纱研发中心和体验馆。针对区域特色产业发展和榄核文创小镇建设需求，香云纱研发中心在挖掘香云纱的文化价值，研究开发香云纱服饰产品，打造国际名流首选的“私人定制”的同时，还进一步促进科教结合与富农增收，以推动我校教育事业发展与榄核镇经济社会发展。据了解，我校下一步还将开展香云纱文化产业博士后专项研究。</p>
    <p>经过4个月的紧张创作，香云纱研发成果——“香云故里”时尚发布会在当天的签约仪式后如期举行。来自我校艺术学院的26名模特，展示了香云纱时尚元素与传统工艺完美结合的独特魅力，为观众带来了一场视觉盛宴。</p>
    <div align="center"><img src="http://mmbiz.qpic.cn/mmbiz/w4bIWyNFlc94Uia9hzGGYwJ2ialu5BXaM9RJDPdasxJksgeMYN59lDPwNvHmkIEYYsgE2wJjxtGKwMcDM7SaBqzQ/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1" /></div>
    <div align="center"><img src="http://mmbiz.qpic.cn/mmbiz/w4bIWyNFlc94Uia9hzGGYwJ2ialu5BXaM9iac3ITpDXw8CXUrwbP2ibjJELDTHPu2eA5qCpobjce2X4qJV4ibc16BpA/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1" /></div>
    <div align="center"><img src="http://mmbiz.qpic.cn/mmbiz/w4bIWyNFlc94Uia9hzGGYwJ2ialu5BXaM9lyqIibibgZ1XictJpDjPOtqoOl6A2EiacDYhRcgj84mpzWGOJnp1RcWtdg/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1" /></div>
    <p>期间，广东电视台、羊城晚报、腾讯大粤网等媒体采访了香云纱时装设计大师、我校艺术学院院长金憓。据她介绍，本次时装发布会的主题是“向传统致敬”，分为“水生阶梯（礼服）”、“沉香素兮（日常装）”、“疍色雅韵（正装、旗袍、小礼裙）”和“香云故里（休闲装）”四大设计板块。除了衣服外，还有围巾、包包、鞋子、银饰等一系列配饰。</p>
</div>
<!--end:文章正文-->

<!--head:评论区域-->
 <div id="respond">

<a name="comments"></a>

<div class="ds-thread" data-thread-key="264" data-author-key="1" data-title="问答社区演示文章" data-url="http://www.themepark.com.cn/demo/wen_da_she_qu_yan_shi_wen_zhang.html" id="ds-thread">
<div id="ds-reset" class="ds-touch"><a name="respond"></a>
<div class="ds-replybox"><a class="ds-avatar" href="javascript:void(0);" onclick="return false"><img src="./styles/images/noavatar_default.png" alt=""></a>
<!--head:评论回复-->
<form method="post">
<input type="hidden" name="thread_id" value="1307002666076864577">
<input type="hidden" name="parent_id" value="">
<input type="hidden" name="nonce" value="575182278c449">
<div class="ds-textarea-wrapper ds-rounded-top"><textarea name="message" title="Ctrl+Enter快捷提交" placeholder="说点什么吧…"></textarea><pre class="ds-hidden-text"></pre></div>
<div class="ds-post-toolbar"><div class="ds-post-options ds-gradient-bg"><span class="ds-sync"></span></div><button class="ds-post-button" type="submit">发布</button><div class="ds-toolbar-buttons"></div></div>
</form>
<!--end:评论回复-->
</div>

<div class="ds-comments-info">
<div class="ds-sort"><a class="ds-order-desc ds-current">最新</a><a class="ds-order-asc">最早</a><a class="ds-order-hot">最热</a></div>
<ul class="ds-comments-tabs"><li class="ds-tab"><a class="ds-comments-tab-duoshuo ds-current"><span class="ds-highlight">19</span>条评论</a></li>  </ul></div>

<!--head:评论列表-->
<ul class="ds-comments">
<!--head:一条评论主体-->
<li class="ds-post" data-post-id="6305651650304410369">
<div class="ds-post-self" data-post-id="6305651650304410369" data-thread-id="1307002666076864577" data-root-id="0" data-source="duoshuo">
<div class="ds-avatar" data-user-id="6305651560634385153">
	<a rel="nofollow author" target="_blank" href="#" title="几尼">
	<img src="./styles/images/noavatar_default.png" alt="几尼"></a>
</div>
<div class="ds-comment-body">
<div class="ds-comment-header"><a class="ds-user-name ds-highlight" data-qqt-account="" href="#" rel="nofollow" target="_blank" data-user-id="6305651560634385153">几尼</a></div>
<!--head:评论内容-->
<p>为什么没有图片的文章，主页有乱码？</p>
<!--end:评论内容-->
<div class="ds-comment-footer ds-comment-actions"><span class="ds-time" title="2016年7月10日 19:08:52">7月10日</span><a class="ds-post-reply" href="javascript:void(0);"><span class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes" href="javascript:void(0);"><span class="ds-icon ds-icon-like"></span>顶</a></div></div>
</div>
</li>
<!--end:一条评论主体-->
</ul>
<!--end:评论列表-->

<!--head:评论分页-->
<div class="ds-paginator">
<div class="ds-border"></div>
<a data-page="1" href="javascript:void(0);" class="ds-current">1</a> <a data-page="2" href="javascript:void(0);">2</a></div>
<!--end:评论分页-->
</div>

</div>


<script type="text/javascript">
	if (typeof DUOSHUO !== 'undefined')
		DUOSHUO.EmbedThread('.ds-thread');
</script>
</div>
<!--end:评论区域-->

</div>
<!--end:右侧内容-->

</div>  
<!--end:内容项目-->

<!--head:底部信息-->
<div id="footer">
	<div id="footer_in">
		<div class="footer_shadow"></div>
                <p> 版权所有： SCAU Copyright © 2015华南农业大学.All rights reserved.   |   粤ICP备05008874号 　备案编号：4401060500010</p>
                <p>地址：广州市天河区五山华南农业大学</p>
		</div>	  
	</div>
<!--end:底部信息-->

<script type="text/javascript" src="./scripts/index/thickbox.js"></script>
<script type="text/javascript" src="./scripts/index/comment-reply.min.js"></script>
<script type="text/javascript" src="./scripts/index/themepark.js"></script>
<script type="text/javascript" src="./scripts/index/wp-embed.min.js"></script>
</body>
</html>