<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>农技推广综合管理平台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=9" >
	<link rel="shortcut icon" href="./styles/images/ico.ico" type="image/x-icon" />
	<link href="./styles/index/themepark.css" rel="stylesheet" media="screen">
	<link href="./styles/index/default.css" rel="stylesheet" media="screen">
	<link href="./scripts/xheditor/xheditor_skin/nostyle/ui.css" rel="stylesheet" media="screen">
  	<script type="text/javascript" src="./scripts/index/jquery-1.11.0.js"></script>
  	<script type="text/javascript" src="./scripts/xheditor/jquery/jquery-1.4.4.min.js"></script>
 	<script type="text/javascript" src="./scripts/xheditor/xheditor-1.2.2.min.js"></script>
 	<script type="text/javascript" src="./scripts/xheditor/xheditor_lang/zh-cn.js"></script>
 	<style>
 		.question_unit{width: 600px; border: 1px solid #ccc; padding: 10px 10px; overflow: hidden; background: #fff; margin-bottom: 30px; position: relative; box-shadow: 0 0 20px rgba(0,0,0,.15); border-radius: 4px;}
 		.question_detail{ padding: 10px 20px; border: 1px dashed #dddddd; text-align: left; position: relative;}
 		.question_detail .question_detail_div{ padding: 10px 0px; border-bottom: dashed 1px #CCCCCC;}
 		.question_toolbar{position: relative; width: 100%; box-shadow: 0 1px 0 rgba(255,255,255,0.6);}
		.question_gradient{position: relative; margin-right: 100px; height: 30px; border: 1px solid #ccc; border-right: none; border-bottom-color: #aaa; border-bottom-left-radius: 3px; -webkit-border-bottom-left-radius: 3px;}
		.question_button{outline:none;cursor: pointer; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; position: absolute; right: 0; top: 0; height: 32px; width: 100px; text-align: center; text-shadow: 0 1px 0 #fff; color: #555; font-size: 18px; font-weight: bold; border: 1px solid #ccc; border-bottom-color: #aaa; border-bottom-right-radius: 3px;  -webkit-border-bottom-right-radius: 3px; background-color: #e6e6e6; background-repeat: no-repeat; background-image: linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6); transition: all .15s linear; box-shadow: inset 0 0 1px #fff;}
		.question_title{border: 1px solid #045bb2; border-radius: 4px; box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1); outline: 0;padding: 5px; width: 400px; font-size: 15px;}
 	</style>
</head>
<body class="page page-id-2 page-parent page-template page-template-aboutus page-template-aboutus-php">

<div id="wpthemedemobar" style="position:fixed!important;_position:absolute; _top:expression(eval(document.documentElement.scrollTop+0)); top:0px; z-index:99999;">
<div class="wpthemedemobar_wrapper">
<div class="wptdb_right">
<a id="btnlogin" href="login.html">立即登录</a>
<a id="btnregister" href="register.html">注册用户</a>
<a id="btnlogout" href="#">退出</a>
</div>
<div class="wptdb_current">当前登录用户：<span class="wptdb_themename">超级门户</span></div></div>
</div>

   <!-- start:头部导航 -->
   <div id="header">
            <div id="header_in">
                <img src="./styles/images/logo.png"/>
            </div>
            <div id="nav">
            <a class="home_url"></a>
            <div class="menu-dai_you_she_qu_de_dao_hang_cai_dan-container">
            <ul id="menu-dai_you_she_qu_de_dao_hang_cai_dan" class="menu_nav">
            		<li id="menu-item-253" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-253"><a href="./index.html">首页</a><div class="hover"></div></li>
				<li id="menu-item-254" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-254"><a href="./articlelist.html">最新新闻</a> <div class="hover" style="display: none;"></div></li>
				<li id="menu-item-260" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-260"><a href="./informationlist.html">通知公告</a><div class="hover" style="display: none;"></div></li>
				<li id="menu-item-261" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-261 current-menu-item"><a href="./questionlist.html">在线交流</a><div class="hover" style="display: none;"></div></li>
				<li id="menu-item-262" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-262"><a href="./">视频会议</a><div class="hover" style="display: none;"></div></li>
				<li id="menu-item-263" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-263"><a href="./">农业物联网</a><div class="hover" style="display: none;"></div></li>
				<li id="menu-item-264" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-264"><a href="./personalcenter.html">个人中心</a><div class="hover" style="display: none;"></div></li>
	 	</ul>
	</div>            
   </div>
<script>
$('#nav .menu_nav li').not(".sub-menu li").append('<div class="hover"><\/div>');
$('#nav .menu_nav li .sub-menu li').children("ul").addClass("block")
$('#nav .menu_nav li').hover(
function() {
$(this).children(".sub-menu").not(".block").stop(true, true).fadeIn('200');},
function() {
$(this).children(".sub-menu").not(".block").stop(true, true).fadeOut('1000');
	}
)
$('#nav .menu_nav li').not(".current-menu-item,.current-menu-ancestor,.current-category-ancestor").hover(
function() {
$(this).children('.hover').stop(true, true).fadeIn('200');
},
function() {
$(this).children('.hover').stop(true, true).fadeOut('1000');
});            
</script>
		</div>
  <!-- end:头部导航-->

<!--head:所在位置-->
<div id="page_muen_nav">  <b>您现在所在的位置：</b><a href="index.html">首页</a> <a> &gt; </a><a href="./questionlist.html"> 在线交流</a><a> &gt; </a><a href="./"> 提问</a></div>
<!--end:所在位置-->

<!--head:内容项目-->
<div id="content">

<!--head:左侧内容-->
<div class="left_mian"> 
<!--head:扁平图标导航-->
<div class="widget func_nav">
   <div class="widge_hd">
   <span>
       <b>功能导航</b><p>Function</p>
   </span>
   </div>
<ul>
<li><a href="./countrysidelist.html"><img src="./styles/images/xiaxiang_nav.png"></a></li>
<li><a href="./performancelist.html"><img src="./styles/images/jixiao_nav.png"></a></li>
<li><a href="./knowledgedata.html"><img src="./styles/images/zhishiku_nav.png"></a></li>
<li><a href="./questionlist.html"><img src="./styles/images/wenda_nav.png"></a></li>
</ul>
</div>
<!--head:扁平图标导航-->

</div>
<!--end:左侧内容-->


<!--head:右侧内容-->
<div class="right_mian">

<div class="widget" id="widget_question">
	<div class="question_unit">
		<div class="question_detail">
			<div class="tag_pro question_detail_div">
		 		<span style="font-size:20px; float:left;line-height:25px; margin-right: 10px; width: 50px;font-weight: bold;">问题分类</span>
		 		<div id="select_category">
					<input type="checkbox"><a rel="tag">粮油</a></input>
					<a rel="tag">桑蚕</a>
					<a rel="tag">中药材</a>
					<a rel="tag">畜牧业</a>
					<a rel="tag">蔬菜</a>
					<a rel="tag">水果</a>
					<a rel="tag">花卉</a>
					<a rel="tag">水产渔业</a>
					<a rel="tag">茶叶</a>
					<a rel="tag">饲料</a>
					<a rel="tag">花卉</a>
					<a rel="tag">农村能源</a>
					<a rel="tag">农产品销售</a>
					<a rel="tag">农业政策</a>
					<a rel="tag">农业法律</a>
				</div>
			</div>
			<div class="tag_pro question_detail_div">
		 		<span style="font-size:20px; float:left;line-height:25px; margin-right: 10px; width: 50px;font-weight: bold;">指定专家</span>
		 		<div id="select_expert">
					<a rel="tag">鲁兴萌</a>
					<a rel="tag">金佩华</a>
					<a rel="tag">中药材</a>
					<a rel="tag">余荣峰</a>
					<a rel="tag">王立如</a>
					<a rel="tag">许年林</a>
				</div>
			</div>
			<div class="question_detail_div">
				<span style="font-size:20px; float:left;line-height:25px; margin-right: 10px; width: 50px;font-weight: bold;">标题</span>
				<input class="question_title" type="text" name="questiontitle" placeholder="请写下你的问题..." />
			</div>
			<div class="question_detail_div">
				<p>请对问题进行补充或者上传问题中涉及的图片 </p>
				<textarea name="content"  class="xheditor-mini {skin:'nostyle',layerShadow:0,upBtnText:'本地图片',upImgUrl:'upload.asp'}" style="width: 100%; height: 150px;" placeholder="问题说明（可选）..."></textarea>
				<div class="question_toolbar">
					<div class="question_gradient"></div>
					<button class="question_button" type="submit">发布</button>
				</div>
			</div>
		</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".tag_pro a").click(function(){
			$(this).addClass("selecttag");
			$(this).nextAll("a").removeClass("selecttag");
			$(this).prevAll("a").removeClass("selecttag");
		});
	});
</script>
	</div>
</div>

</div>
<!--end:右侧内容-->

</div>  
<!--end:内容项目-->

<!--head:底部信息-->
<div id="footer">
	<div id="footer_in">
		<div class="footer_shadow"></div>
                <p> 版权所有： SCAU Copyright © 2015华南农业大学.All rights reserved.   |   粤ICP备05008874号 　备案编号：4401060500010</p>
                <p>地址：广州市天河区五山华南农业大学</p>
		</div>	  
	</div>
<!--end:底部信息-->

<script type="text/javascript" src="./scripts/index/thickbox.js"></script>
<script type="text/javascript" src="./scripts/index/themepark.js"></script>
</body>
</html>