.searchbox{ position: relative;}
.searchbox input{ padding: 7px 50px 7px 10px; width: 100%; color: #49525c; font-size: 14px; line-height: 17px; background-color: #e1eaf2; border: 1px solid #045bb2; border-radius: 4px; box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1); outline: 0; box-sizing: border-box;}
.searchbox button{ position: absolute; top: 0; right: 0; width: 40px; height: 100%; background: #0e78e7; background: -webkit-linear-gradient(top,#0e7bef,#0d73da); background: linear-gradient(to bottom,#0e7bef,#0d73da); border: 1px solid #045bb2; border-top-right-radius: 4px; border-bottom-right-radius: 4px; box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15); box-sizing: border-box; outline: 0; cursor: pointer;}
.searchbox button i{ background: transparent url("../images/littleicon2.png") no-repeat; }
.searchbox button .search_icon{ background-position: -82px 0; width: 15px; height: 15px; position:absolute; top: 8px; left: 10px;}

.applycommpany{ width: 173px; height: 43px; cursor: pointer; background: url("../images/index/applycompany.png"); }
.applycommpany:hover{ background: url("../images/index/applycompany_s.png"); }

.btn_applycompany{ width: 173px; height: 43px; cursor: pointer; background: url("../images/index/publish.png"); }
.btn_applycompany:hover{ background: url("../images/index/publish_s.png"); }

.companylist{ width:630px;}
.companylist ul li#fiest .pic{  float:left; display:block; overflow:hidden;}
.companylist li .news_modle1_title,.news_modle2 ul li p,.news_modle2 ul li#fiest .time{ float:left; display:block; width:196px; margin-left:10px;overflow:hidden; height:16px;}
.companylist li a{ font-size:12px; color:#333; text-decoration:none; float:left;}
.companylist li span{ font-size: 20px; line-height: 2em; color:#333; text-decoration:none;}
.companylist li p{ font-size:14px; line-height: 1.2em; color:#999;; text-decoration:none;}
.companylist ul li a b{ color:#eb302f;text-transform:uppercase;}
.companylist ul li{ width:620px;float:left; padding :10px 0 ; border-bottom: dashed #D5D5D5 1px;}