<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描service包嗲所有使用注解的类型-->
    <context:component-scan base-package="com.lida.mongo"/>

    <!-- 导入mongodb的配置文件 -->
    <import resource="spring-mongo.xml" />
    <!-- 开启注解 -->
    <context:annotation-config />
</beans>